*{margin: 0px;padding: 0;}


.heading_text {
  color: red;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
  font-family: 'Josefin Sans', sans-serif;
}

.img_div {
  text-align: center;
}

.img_div img {
  margin: 10px ;
  height: 300px;
  width: 200px;
}